
//These styles are coded by Mario <mariobadilla@gmail.com>

@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300);

@mixin whitie($opa){
	background: #fff; /* IE 8 */
	background: rgba(255,255,255,$opa);
	*background-: #fff; /* IE 7 */
}
@mixin reflex($opa){
	background: $uned; /* IE 8 */
	background: rgba(55,88,143,$opa);
	*background-: $uned; /* IE 7 */
}
@mixin title-tag(){
	background: #fff;
	padding: 0.25em;
	display: inline-block;
	font-weight: 900;
	clear: both;
}
@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



html{
	//padding-top: 50px;
}
.wrap{
	//padding-top: 50px;
}
body{
	font-family: 'Lato', Helvetica,Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #4d4d4d;
	font-weight: 400;
	overflow-y: scroll;
	::selection{
		background-color: yellow;
		color: $dblue;
	}
	@media (min-width: $screen-sm-min){
		font-size: 18px;
	}
}
a{
	color: $orange;

}
h1,h2{
	font-weight: 900;
}


@keyframes flyIn {
  from {margin-left: -100px;}
  to {margin-left: 0;}
}




