// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #3761A3;
//colores
$negrito: #373b40;
$grisillo: #E1E3E4;
$orange: #EB8D30;
$uned: #3761A3;
$unedopac: rgba(55,88,143,0.5);
$dblue: #454A54;
$rosa: #E1B3B3;
$mamon: #E5A876;
